<div ng-controller="app.views.about as vm">
    <h2>About the Cloud Event</h2>
    <p>
        This is an example multi-tenant application built using ASP.NET Boilerplate framework.
    </p>

    <h3>Some Statistics</h3>

    <div class="row statistics-list">
        <div class="col-sm-6 col-md-3" ng-repeat="statisticItem in vm.statisticItems">
            <div class="statistic-item">
                <span class="statistic-value">{{statisticItem.value}}</span>
                <span class="statistic-name">{{statisticItem.name}}</span>
            </div>
        </div>
    </div>

    <p><i>Note: These statistics include all tenants, not only current tenant.</i></p>

    <h3>Links</h3>
    <ul>
        <li>Source code of this application: <a href="https://github.com/aspnetboilerplate/eventcloud"><strong>github.com/aspnetboilerplate/eventcloud</strong></a></li>
        <li>ASP.NET Boilerplate official web site: <a href="http://www.aspnetboilerplate.com"><strong>aspnetboilerplate.com</strong></a></li>
        <li>Official forum: <a href="http://forum.aspnetboilerplate.com"><strong>forum.aspnetboilerplate.com</strong></a></li>
    </ul>
</div>