@media (min-width: 576px) {
  .nav-user-menu .user-image {
    float: none;
    line-height: 10px;
    margin-top: -8px;
  }
}

.nav-user-menu .user-image {
  border-radius: 50%;
  float: left;
  height: 2rem;
  margin-top: -4px;
  width: 2rem;
}
.event-detail-header {
  font-size: 16px;
  margin-top: 5px;
  color: #999;
}

.event-description {
  height: 55px;
  overflow: hidden;
  font-size: 14px !important;
  margin-top: 15px !important;
  line-height: 18px !important;
}

.card [class^="col-"],
.card [class*=" col-"] {
  margin-bottom: 0 !important;
}
.event-card {
  background-color: #607d8b;
}

.card .header .header-dropdown i {
  color: inherit;
  font-size: 16px;
}

.header-dropdown li {
  display: inline-block;
  margin-right: 10px;
}

.header h4,
ul {
  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
}

.header-dropdown {
  float: right;
  margin-left: auto;
}

.form-actions {
  .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 3px;
}

/* Sweet alert */
.swal2-title {
  display: inline-block !important;
}

body.swal2-height-auto {
  height: inherit !important;
}

.swal2-popup.swal2-toast {
  padding: 10px 12px !important;
  display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
  text-align: left !important;
  margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
  margin-bottom: 4px !important;
}

div.wrapper,
div.content-wrapper,
div.sidebar {
  min-height: 100vh;
}

table.table {
  * {
    font-size: 14px !important;
  }

  th,
  td {
    padding: 8px;
    vertical-align: middle;
  }
}

table-card-footer * {
  font-size: 14px;
}
