<div bsModal #editSpeakerModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editSpeakerModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #editSpeakerForm="ngForm" id="frm_edit_speaker" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditSpeaker")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#edit-speaker-details" data-toggle="tab">Detalhes do {{l('Plan')}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-speaker-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="attr" type="text" name="Attr" [(ngModel)]="speaker.attr" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="attr" class="form-label">{{l("Attr")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <input id="isactive" type="checkbox" name="IsActive" [(ngModel)]="speaker.isActive" checked class="form-control" />
                                            <label for="isactive" class="form-label">{{l("IsActive")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editSpeakerForm.form.valid" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>