<div id="EventDetail" ng-controller="app.views.events.detail as vm">

    <h2>{{vm.event.title}} <span class="event-date"><i class="fa fa-calendar-times-o"></i> {{vm.event.date | momentFormat:'DD.MM.YYYY'}}</span></h2>

    <p>{{vm.event.description}}</p>

    <div class="event-registration-info">
        <span ng-if="vm.event.registrationsCount < vm.event.maxRegistrationCount">
            {{vm.event.registrationsCount}} of {{vm.event.maxRegistrationCount}} registred.
        </span>
        <span ng-if="vm.event.registrationsCount >= vm.event.maxRegistrationCount">
            No registration available
        </span>
    </div>

    <div class="event-actions">
        <a class="btn btn-sm btn-primary" ng-click="register()">Register</a>
        <a class="btn btn-sm btn-warning" ng-click="cancelRegistertration()">Cancel registration</a>
        <a class="btn btn-sm btn-danger" ng-click="cancelRegistertration()">Cancel the event</a>
    </div>

</div>